@using DatovyPortalApp.ViewModels
@model GraphOutputViewModel;

<div id="Graph" class="mx-auto" data-xdata="@Html.Raw(Json.Serialize(Model.AxisX))" data-ydata="@Html.Raw(Json.Serialize(Model.AxisY))">
</div>


